APP_NAME=FinTrack
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_PORT=8000

FRONTEND_URLS=http://localhost:5173,http://localhost:8000
FRONTEND_PORT=5173

DB_DATABASE=fintrack
DB_USERNAME=fintrack
DB_PASSWORD=change-me-for-local-development
