APP_NAME=FinTrack
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
FRONTEND_URL=http://localhost:5173
FRONTEND_URLS=http://localhost:5173,http://localhost:8000

LOG_CHANNEL=stderr
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=fintrack
DB_USERNAME=fintrack
DB_PASSWORD=fintrack
DB_URL=
DB_SCHEMA=public
DB_SSLMODE=prefer

CACHE_STORE=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
